* {
  margin-bottom: 10px;
}

body {
  background-color: antiquewhite;
}

div {
  width: 300px;
  border: 2px solid;
  padding: 50px;
  margin: 100px 500px;
}

[type="submit"] {
  color: blue;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
}
